.header {
  display: flex;
  flex-direction: column;
}

.topNav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: blue;
  padding: 20px 100px;
}

.logo {
  font-size: 2rem;
  color: white;
  text-decoration: none;
  font-weight: 700;
}

nav {
  display: flex;
  gap: 20px;
  align-items: center;
}
nav a {
  text-decoration: none;
  color: white;
}

nav button {
  padding: 10px 20px;
  color: white;
  background-color: black;
  border: none;
  outline: none;
}
.bottomNav {
  background-color: black;
  padding: 20px 100px;
  color: white;
}
